<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img style="height: 60px;" src="./assets/images/logo.jpg"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto d-flex align-items-center">
          <li class="d-flex mb-2 mb-lg-0">
            <a class="nav-item text-uppercase nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-item text-uppercase nav-link" href="#">Shop</a>
              <a class="nav-item text-uppercase nav-link" href="#">Contact</a>
          </li>
        </div>

        <div class="d-flex align-items-center">
            <a routerLink="/basket" class="btn btn-secondary me-5">
              <i class="bi bi-cart"></i>
              <span class="badge text-bg-danger ml-1">9</span>
            </a>
            <button [routerLink]="['/account/login']" routerLinkActive="router-link-active"  type="button" class="btn btn-primary me-2">Login</button>
            <button [routerLink]="['/account/register']" routerLinkActive="router-link-active" type="button" class="btn btn-danger me-3">Sign up</button>
        </div>
      </div>
    </div>
  </nav>